<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="jetty" class="com.fls.metro.api.server.Jetty">
        <property name="host" value="${server.host}"/>
        <property name="port" value="${server.port}"/>
        <property name="servlets">
            <list>
                <bean class="com.fls.metro.api.server.ServletConfiguration">
                    <property name="configLocation" value="classpath*:apiContext.xml"/>
                    <property name="contextPath" value="/api/*"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>